[submodule "tripkit-android"]
	path = tripkit-android
	url = https://github.com/skedgo/tripkit-android.git
[submodule "shared-android"]
	path = shared-android
	url = https://github.com/skedgo/shared-android.git
